DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&connection_limit=20&pool_timeout=20"
DATABASE_URL_UNPOOLED="postgresql://user:password@host/dbname?sslmode=require"
NEXTAUTH_SECRET="replace-with-a-random-32+-char-secret"
NEXTAUTH_URL="http://localhost:3000"
